main {
  height: 70vh;
  width: 100vh;
}

.square {
  font-size: 4.5rem;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  min-height: 8rem;
  width: 8rem;
}

.box {
  width: 25rem;
}
.hidden {
  display: none;
}
#newGame {
  width: auto;
  height: 4.2rem;
}
